<div class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-body">
                <div class="input-group mt-5 mt-sm-1">
                    <div class="form-floating">
                        {# todo : make it dynamic #}
                        <input class="form-control" id="codeIban" value="FR76 8904 6839 2894 9849 7489 903" readonly>
                        <label for="codeIban">IBAN</label>
                    </div>
                    <button class="btn btn-outline-secondary clipboard"
                            data-clipboard-target="#codeIban"
                            type="button"
                            data-bs-toggle="tooltip"
                            data-bs-title="{{ 'copy'|trans }}"
                            data-bs-trigger="hover"
                    >
                        <i class="fa-solid fa-copy mx-2"></i>
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    {{ 'close'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>