###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.dev
/.env.prod
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/cache/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

.idea
composer.phar
/composer/