.text-sm {
    font-size: 0.8rem;
}

.form-switch {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    user-select: none;
    .form-check-input {
        clear: left;
        height: 1.5rem;
        width: calc(2rem + 0.75rem);
        border-radius: 3rem;
    }
    label, input {
        cursor: pointer;
    }
}

.form-select-sm .ts-control {
    padding: 0 37px 0 6px !important;
}

#isPartialPayment-row,
#partialPaymentReason-row {
    display: none;
}