:root {
    --filter-list-top: 56px;
}

.text-sm {
    font-size: 0.8rem;
}

input[readonly] {
    pointer-events: none;
    background: #0000000a;
    color: #545454;
}

.text-underline-success {
    text-decoration: underline;
    text-decoration-color: rgba(66, 145, 58, 0.46);
}

.text-underline-danger {
    text-decoration: underline;
    text-decoration-color: rgba(234, 69, 87, 0.49);
}

.form-switch {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    user-select: none;
    .form-check-input {
        clear: left;
        height: 1.5rem;
        width: calc(2rem + 0.75rem);
        border-radius: 3rem;
    }
    label, input {
        cursor: pointer;
    }
}

.form-select-sm:not(.rtl) .ts-control {
    padding: 0 26px 0 6px !important;
    background-position: right 0.45rem center !important;
}

.form-select-sm.rtl .ts-control {
    padding: 0 6px 0 26px !important;
    background-position: left 0.45rem center !important;
}

.ts-wrapper.rtl .ts-control {
    padding-right: .7rem !important;
}

#isPartialPayment-row,
#partialPaymentReason-row {
    display: none;
}

tr.table-danger td {
    --bs-table-bg-type: unset !important;
}

tr[data-url] {
    cursor: pointer;
}
.row-trigger {
    width: 32px;
    display: inline-block;
}

.table tbody {
    td, th {
        vertical-align: middle;
    }
}

@media (min-width: 768px) {
    .modal-lg, .modal-xl {
        --bs-modal-width: 800px;
    }
}