{% extends 'base.html.twig' %}

{% block title %}
    {{ 'cotisation.list'|trans }}
{% endblock %}

{% block body %}
    <div class="alert alert-warning" role="alert">
        {{ 'cotisation.empty-tarif'|trans }}
    </div>
{% endblock %}

