{% extends 'base.html.twig' %}

{% block title %}
    {{ 'cotisation.new'|trans }}
{% endblock %}

{% block body %}
    <h2>{{ 'cotisation.new'|trans }}</h2>
    {{ form(form) }}
    <input type="hidden" value="{{ tarifsMapping | json_encode }}" id="tarifsMapping">
{% endblock %}
