{% extends 'base.html.twig' %}

{% block title %}
    {{ 'appartement.new'|trans }}
{% endblock %}

{% block body %}
    <h2>
        {{ 'appartement.new'|trans }}
    </h2>
    {{ form(form) }}
{% endblock %}
