<select class="form-select-sm no-search"
        name="filterPeriode"
        data-select-no-search="true"
        data-select-label="{{ label|trans }} :&nbsp;"
>
    {% for tarif in tarifs %}
        <option value="{{ tarif.id }}" {% if tarif is same as tarifSelected %}selected{% endif %}>
            {{ tarif.periodeYear }}
        </option>
    {% endfor %}
    {% if syndic.beforeDohaPeriode %}
        <option value="-1" {% if tarifSelected is not null and tarifSelected.beforeDohaPeriode %}selected{% endif %}>
            {{ 'before-2022'|trans }}
        </option>
    {% endif %}
</select>