{% if is_granted('ROLE_ADMIN') and proprietaire.isSystem == false  %}
    <span class="link-primary link-opacity-75-hover cursor-pointer"  data-url="">
        {{ proprietaire.absoluteName }}
    </span>
{% else%}
    {{ proprietaire.absoluteName }}
{% endif %}