{% extends 'base.html.twig' %}

{% block title %}
    {{ 'proprietaire.edit'|trans }}
{% endblock %}

{% block body %}
    <h2>{{ 'proprietaire.edit'|trans }}</h2>
    {{ form(form) }}
{% endblock %}
