{% extends 'base.html.twig' %}

{% block title %}
    {{ 'depense.new'|trans }}
{% endblock %}

{% block body %}
    <div class="d-flex align-items-center flex-wrap gap-2 mb-2">
        <h2 class="flex-fill m-0">
            {{ 'depense.new'|trans }}
        </h2>
        <a class="text-sm" href="#">{{ 'type-depense.new'|trans }}</a>
    </div>
    {{ form(form) }}
{% endblock %}
